# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environemnts
myenv/

# Environment variables
.env

#Git-related files
.git/
.gitignore

#IDE and editor settings
.vscode/
.idea/

#OS-specific files
.DS_Store
Thumbs.db

